<section id="location" class="feature">
    <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
        <h2>Location</h2>
    </div>

    <div class="row">
        <div class="large-4 columns address" data--100-bottom-top="transform:translateX(-100%)" data--100-bottom="transform:translateX(0)">
            <p>
                <span>ThoughtWorks Technologies Pvt Ltd</span>
                <span>1st Floor, KCT Tech Park</span>
                <span>Thudiyalur Rd, Saravanampatty</span>
                <span>Coimbatore, Tamil Nadu</span>
                <span><small><a href="https://www.google.co.in/maps/place/ThoughtWorks+Technologies+(India)+Pvt+Ltd./@11.0811803,76.9868625,17z/data=!3m1!4b1!4m5!3m4!1s0x3ba8f792a0e40837:0xce2d3eb9118c52e8!8m2!3d11.0811803!4d76.9890512" target="_blank" rel="nofollow">&laquo; Open in Google Maps &raquo;</a></small></span>
            </p>
        </div>

        <div class="large-8 columns map" data-anchor-target=".address" data--100-bottom-top="transform:translateX(100%)" data--100-bottom="transform:translateX(0)">
            <a href="https://www.google.co.in/maps/place/ThoughtWorks+Technologies+(India)+Pvt+Ltd./@11.0811803,76.9868625,17z/data=!3m1!4b1!4m5!3m4!1s0x3ba8f792a0e40837:0xce2d3eb9118c52e8!8m2!3d11.0811803!4d76.9890512" target="_blank" rel="nofollow">
              <img src="./img/map.png" alt="Map" align="center" />
            </a>
        </div>
    </div>
</section>
